# Basic Python
As you learn Python throughout this course, there are a few things you should keep in mind.
Python is case sensitive.
Spacing is important.
Use error messages to help you learn.

## Data Types and Operators
As we know that data is classified into different so they are called data types they are very importand for any programming language. <br>
Data Types: Integers, Floats, Booleans, Strings, Lists, Tuples, Sets, Dictionaries<br>
Operators: Arithmetic, Assignment, Comparison, Logical, Membership, Identity<br>
Built-In Functions, Compound Data Structures, Type Conversion<br>

## Arithmetic Operators

    + Addition
    - Subtraction
    * Multiplication
    / Division
    % Mod (the remainder after dividing)
    ** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
    // Divides and rounds down to the nearest integer

In [ ]:
5+3

In [ ]:
5-3

In [ ]:
5 * 3

In [ ]:
5/3

In [ ]:
5 % 3

In [ ]:
5**3 #5^3

In [ ]:
5//3

    ()	Parentheses
    **	Exponentiation
    *	Multiplication
    /	Division
    +	Addition
    –	Subtraction

In [ ]:
15 + 4

In [ ]:
5+3**2

## Variables
They hold some space in memory and are referenced with the name they are given<br>
Besides writing variable names that are descriptive, there are a few things to watch out for when naming variables in Python.<br>

1. Only use ordinary letters, numbers and underscores in your variable names. They can’t have spaces, and need to start with a letter or underscore.
<br>
2. You can’t use reserved words or built-in identifiers that have important purposes in Python, which you’ll learn about throughout this course.

In [ ]:
x = 3
y = 4
z = 5

In [ ]:
z

In [ ]:
x, y, z = 3, 4, 5

In [ ]:
# correct way of intializing the variables
myHeight = 58
my_height = 58
my_lat = 40
my_long = 105

## Integers and Floats

In [ ]:
x = 4.7
y = 4

In [ ]:
type(x)

In [ ]:
print(type(x))
print(type(y))

In [ ]:
x = int(4.7)   # x is now an integer 4
y = float(4)   # y is now a float of 4.0

In [ ]:
y

In [ ]:
print(type(x))
print(type(y))

In [ ]:
print(.1 + .1 + .1 == .3)
#Because the float, or approximation, for 0.1 is actually slightly more than 0.1, when we add several of them together we can see the difference between the mathematically correct answer and the one that Python creates.

In [ ]:
.1 + .1 + .1

## Boolean Comparison and Logical Operators

The bool data type holds one of the values True or False, which are often encoded as 1 or 0, respectively.
5 < 3	False	Less Than<br>
5 > 3	True	Greater Than<br>
3 <= 3	True	Less Than or Equal To<br>
3 >= 5	False	Greater Than or Equal To<br>
3 == 5	False	Equal To<br>
3 != 5	True	Not Equal To<br>
Logical Use	Bool	Operation<br>
5 < 3 and 5 == 5	False	and - Evaluates if all provided statements are True<br>
5 < 3 or 5 == 5	True	or - Evaluates if at least one of many statements is True<br>
not 5 < 3	True	not - Flips the Bool Value<br>

In [ ]:
5 == 3

In [ ]:
5 < 3 or 5 == 5

In [ ]:
not 5 < 3

## Strings
Strings in Python are shown as the variable type str. You can define a string with either double quotes " or single quotes '. If the string you are creating actually has one of these two values in it, then you need to be careful to assure your code doesn't give an error.

In [10]:
my_string = 'this is a \t string!'
print(my_string)

this is a 	 string!

this is a string's!

In [8]:
my_string2 = "this is also a string!!!"
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

Simon's skateboard is in the garage.

In [14]:
first_word = 'Hello'
second_word = 'There'
print(first_word +" "+ second_word)

Hello There

In [15]:
print(first_word * 5)

HelloHelloHelloHelloHello

In [16]:
print(len(first_word))

5

In [17]:
# Unicode Character 'DEVANAGARi'
name = u'\u0915\u094b\u0930 \u092a\u0948\u0925\u0964\u0928'
print(name)

कोर पैथ।न

## String Methods

In [ ]:
my_string = "Tanishka"

In [26]:
my_string[-2]

'k'

In [22]:
my_string.islower()

False

In [23]:
my_string.count('a')

2

In [25]:
my_string.find('a')

1

In [28]:
print("Mohammed has {} balloons".format(7))

Mohammed has 7 balloons

In [29]:
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Does your dog bite?

In [31]:
new_str = "The cow jumped over the moon."
new_str.split('o')

['The c', 'w jumped ', 'ver the m', '', 'n.']

In [35]:
new_str.split(' ', 2)

['The', 'cow', 'jumped over the moon.']

# List
Data structures are containers that organize and group data types together in different ways. A list is one of the most common and basic data structures in Python.

In [36]:
list_of_random_things = [1, 3.4, 'a string', True]

In [37]:
list_of_random_things[1]

3.4

In [39]:
type(list_of_random_things)

list

In [40]:
list_of_random_things[-1]

True

In [44]:
list_of_random_things[1:2] #[included index, excluded index]

[3.4]

In [48]:
5 in [1, 2, 3, 4,5 , 6]

True

In [50]:
my_lst = [1, 2, 3, 4, 5]
my_lst

[1, 2, 3, 4, 5]

In [51]:
my_lst[0] = 'one'

In [52]:
my_lst

['one', 2, 3, 4, 5]

There are two things to keep in mind for each of the data types you are using:
<br>
Are they mutable?<br>
Are they ordered?<br>
** Order** is about whether the position of an element in the object can be used to access the element. ** Both strings and lists are ordered.** We can use the order to access parts of a list and string.

In [53]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

## Tuples
A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

In [54]:
location = (13.4125, 103.866667)
type(location)

tuple

In [55]:
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

In [56]:
location[0] = 127.00000

TypeError: 'tuple' object does not support item assignment

## Sets
A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [58]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [59]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set
print("watermelon" in fruit)  # check for element

False

In [60]:
fruit.add("watermelon")  # add an element
print(fruit)

{'apple', 'orange', 'banana', 'grapefruit', 'watermelon'}

In [62]:
print("watermelon" in fruit)

True

In [63]:
print(fruit.pop())  # remove a random element
print(fruit)

apple
{'orange', 'banana', 'grapefruit', 'watermelon'}

## Dictionaries 
A dictionary is a mutable data type that stores mappings of unique keys to values. Here's a dictionary that stores elements and their atomic numbers.

In [64]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"

2

In [65]:
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

In [66]:
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [67]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

In [68]:
elements["carbon"] = 300

In [69]:
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 300, 'lithium': 3}