List is similar to array but can have multiple datatypes

In [1]:
lst = [10,20,30,40,50]
lst.append(70)

In [2]:
lst

[10, 20, 30, 40, 50, 70]

In [3]:
lst[3] = 50

In [4]:
lst

[10, 20, 30, 50, 50, 70]

In [5]:
sum(lst)

230

index,append,insert,copy,pop,sort,reverse,clear,min,max and some other funtions

## Tuples
Tuples are immuteable

In [ ]:
tup = (50,60,70,80,90)

## Dict

In [6]:
dict = {'Name':'Tanishka','id' : 200}

In [7]:
dict['Name']

'Tanishka'

In [ ]:
##clear(),copy(),get(),items(),keys(),values(),pop() and more

In [9]:
dict.values()

dict_values(['Tanishka', 200])

In [10]:
dict.clear()

In [11]:
dict

{}

In [12]:
str = 'Book'
for x in str:
    dict[x] = dict.get(x,0)+1

In [13]:
dict

{'B': 1, 'o': 2, 'k': 1}

In [14]:
#Converting list into aa dict
contries = ["India", "USA", "France", "Germany"]
captials = ["New delhi"," Washington","Paris","Berlin"]
print((contries,captials))

(['India', 'USA', 'France', 'Germany'], ['New delhi', ' Washington', 'Paris', 'Berlin'])

In [15]:
res_dct = {contries[i]: captials[i] for i in range(0, len(captials))}

In [16]:
res_dct

{'India': 'New delhi',
 'USA': ' Washington',
 'France': 'Paris',
 'Germany': 'Berlin'}

In [ ]:
#Passing dict in funtions
def fun(dict):
    for i,j in dict.items():
        print(i,"--",j)

In [30]:
fun(res_dct)

India -- New delhi
USA --  Washington
France -- Paris
Germany -- Berlin

# Next up OOPS in python